<!DOCTYPE html>

<html lang="it">
<!-- <form action="/" method="POST"> -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cache</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>

    <div class="page-header">
    <div class=writing style="min-height:50px;max-height:50px;text-aligh:center;padding-top=4px;" title="Correzione e generazione automatica di esercizi di architettura degli elaboratori">
    {%if lvl == 1%}
        <h3 style="text-align:center;color:white;">{{info_cache[0][0]}} &emsp; &emsp; {{info_cache[1][0]}} {{info_cache[2][0]}} &emsp; &emsp;{{info_cache[3][0]}} set &emsp; &emsp; {{info_cache[4][0]}} vie</h3>
    {% else %}
        <h3 style="text-align:center;color:white;">L1: {{info_cache[0][0]}} &emsp; &emsp; {{info_cache[1][0]}} {{info_cache[2][0]}} &emsp; &emsp;{{info_cache[3][0]}} set &emsp; &emsp; {{info_cache[4][0]}} vie</h3>
        <h3 style="text-align:center;color:white;">L2: {{info_cache[0][1]}} &emsp; &emsp; {{info_cache[1][1]}} {{info_cache[2][1]}} &emsp; &emsp;{{info_cache[3][1]}} set &emsp; &emsp; {{info_cache[4][1]}} vie</h3>
    {% endif %}

    </div>
</div>

<br><br><br><br>

    <body>
    {% set count = namespace(value=0) %}
    {%for idx, headings, data in tables%}
        <h3>L{{idx}}</h3>
        <table class="table" id="cachetable_{{idx}}">
            <tr class="table__header">
                {% for header in headings%}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% set row_idx = namespace(value=0) %}
            {% for row in data[idx-1] %}
            <tr class="table__row"  >
                {% set col_idx = namespace(value=0) %}
                {% for cell in row %}
                {% if col_idx.value == 0 %}
                {% set count.value = 0%}
                {%else%}
                {% set count.value = (col_idx.value-1)*(5+(offset | int)) + row_idx.value + (idx-1)*(n_indirizzi)*(5+(offset | int))%}
                {%endif%}
                {# {{col_idx.value*5 + row_idx.value}} #}
                {# <td  class="table__cell" name="cell" id="cell" {%if count.value-1+altro_parametro>=idx*(n_indirizzi*5) and count.value%n_indirizzi != 0 %}style="display:none"{%endif%} {%if altro_parametro==count.value+1 and count.value%n_indirizzi != 0%}style="background-color:powderblue;"{%endif%}>  #}
                <td  class="table__cell" name="cell" id="cell" style="{%if count.value>cell_number %}display:none;{%endif%} {%if cell_number==count.value%}background-color:powderblue;{%endif%}"> 
                
                
                {%if (row_idx.value==1 or row_idx.value==2) and cache_type[level_number]=="fully_associative" %}
                    <input class='table__cell' size=5 type="text" name="cell_value_{{idx}}" id="cell_value_{{idx}}" value="" readonly />
                {% else %}
                    <input class='table__cell' size=5 type="text" name="cell_value_{{idx}}" id="cell_value_{{idx}}" value="{{ cell }}" readonly />
                {% endif %}
                
                </td>
                
                {# {% set count.value = count.value + 1 %} #}
                {% set col_idx.value = col_idx.value + 1 %}
                {% endfor %}
            </tr>
            {% set row_idx.value = row_idx.value + 1 %}

            {% endfor %}
        </table>
    {%endfor%}
    </body>

<br><br>

<form action="/caches" method="POST" id="form" >
    <input type="text" value='{{params}}' name="params" id="params" hidden> <br>
    <span>Clock: {{clock_number}}</span> <br>
    <span>Cell: {{cell_number}}</span> <br>
    <span>Level: {{level_number}}</span> <br>
    <span>Row: {{cell_number%(5+(offset | int))}}</span> <br>
    <span>Column: {{(cell_number//(5+(offset | int)))%(n_indirizzi)}}</span> <br>

    <input type="submit" value="Avanti" onclick="updateCache()">
    <input type="button" value="Indietro" onclick="indietro()"> <br>

    <br><br>

    <!-- <button type="button" onclick="history.go("http://127.0.0.1:5000/");">Torna alla home</button> -->
</form>

<br>

    <h3>Cache</h3>
        <table class="table" id="cache">
            <tr class="table__header">
                <th class="table__cell">Index</th>
                <th class="table__cell">LRU</th>
                {% for w in range(ways[level_number]) %}
                    <th class="table__cell">V <i>Way {{w}}</i></th>
                    <th class="table__cell">Tag <i>Way {{w}}</i></th>
                {% endfor %}
            </tr>
            {% set row_idx = namespace(value=0) %}
            {% for row in init %}
            <tr class="table__row">
                {% set col_idx = namespace(value=0) %}
                {% for cell in row %}
                <td  class="table__cell" name="cell" id="cell" style="{%if row_cella_cambiata==row_idx.value and col_cella_cambiata==col_idx.value%}background-color:blue{%endif%}"> 
                <input class='table__cell' size=5 type="text" name="cell_value_i" id="cell_value_i" value="{{ cell }}" readonly />
                </td>
                {% set col_idx.value = col_idx.value + 1 %}
                {% endfor %}
            </tr>
            
            {% set row_idx.value = row_idx.value + 1 %}
            {% endfor %}
        </table>

<br><br>

<input type="submit" value="Torna alla home"
              onclick="document.forms['form'].action='/'">

<br><br>

<table class="table" id="fully_associative" style="display:none">
    <tr class="table__header">
        {% for header in headings%}
        <th class="table__cell">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in tab_miss[level_number] %}
    <tr class="table__row">
        {% for cell in row %}
        <td  class="table__cell" name="cell" id="cell"> 
        <input class='table__cell' size=5 type="text" name="cell_value" id="cell_value" value="{{ cell }}" readonly />
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class="page-footer"></div>

<script>
    //controllo anche type != fully_associative?
    if ({{count.value%5}} == 4) {
        var table = document.getElementById("cachetable_{{level_number+1}}");
        var type_miss = table.rows[5].cells[{{(cell_number//(5+(offset | int)))%(n_indirizzi)}}].children[0].value
        if (type_miss == "Cap." || type_miss == "Conf.") {
            var fully_associative = document.getElementById("fully_associative");
            fully_associative.style.display = "initial";
        }
    }


function indietro(){
    params = document.getElementById("params");
    p = JSON.parse(params.value);
    p[14] = p[14]-2;
    p[15] = p[15]-2;
    params.value = JSON.stringify(p);
    document.getElementById("form").submit();
}
</script>