<!DOCTYPE html>

<html lang="it">
  <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cache</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
<form action="/check" method="POST">
  
<div class="page-header">
    <div class=writing style="min-height:50px;max-height:50px;text-aligh:center;padding-top=4px;" title="Correzione e generazione automatica di esercizi di architettura degli elaboratori">
    {%if lvl == 1%}
        <h3 style="text-align:center;color:white;">{{info_cache[0][0]}} &emsp; &emsp; {{info_cache[1][0]}} {{info_cache[2][0]}} &emsp; &emsp;{{info_cache[3][0]}} set &emsp; &emsp; {{info_cache[4][0]}} vie</h3>
    {% else %}
        <h3 style="text-align:center;color:white;">L1: {{info_cache[0][0]}} &emsp; &emsp; {{info_cache[1][0]}} {{info_cache[2][0]}} &emsp; &emsp;{{info_cache[3][0]}} set &emsp; &emsp; {{info_cache[4][0]}} vie</h3>
        <h3 style="text-align:center;color:white;">L2: {{info_cache[0][1]}} &emsp; &emsp; {{info_cache[1][1]}} {{info_cache[2][1]}} &emsp; &emsp;{{info_cache[3][1]}} set &emsp; &emsp; {{info_cache[4][1]}} vie</h3>
    {% endif %}

    </div>
</div>

<br><br><br><br>

    <body>
    {%for idx, headings, data in tables%}
        <h3>L{{idx}}</h3>
        <table class="table">
            <tr class="table__header">
                {% for header in headings%}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell" name="cell" id="cell"> 
                {%if loop.index0 == 0%}
                <input class='table__cell' size=5 type="text" name="cell_value_{{idx}}" id="cell_value_{{idx}}" value="{{ cell }}" readonly />
                {%else%}
                <input class='table__cell' size=5 type="text" name="cell_value_{{idx}}" id="cell_value_{{idx}}" value="{{ cell }}" />
                {%endif%}
                </td>
               
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {%endfor%}

{% if lvlinit != 0 %}
    <br><br>


        <h3>L{{lvlinit}} cache iniziale</h3>
            <table class="table">
                <tr class="table__header">
                    <th class="table__cell">Index</th>
            <th class="table__cell">Tag</th>
                </tr>
                {% for row in init %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td  class="table__cell" name="cell" id="cell"> 
                    <input class='table__cell' size=5 type="text" name="cell_value_i" id="cell_value_i" value="{{ cell }}" readonly />
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>


        <h3>L{{lvlinit}} cache finale</h3>
            <table class="table">
                <tr class="table__header">
                    <th class="table__cell">Index</th>
            <th class="table__cell">Tag</th>
                </tr>
                {% for row in init %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td  class="table__cell" name="cell" id="cell">
                    <input class='table__cell' size=5 type="text" name="cell_value_f" id="cell_value_f" value="" />
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
{%endif%}

<br>
    <input type="text" value='{{params}}' name="params" id="params" hidden> <br>
    <input type="text" value='[]' name="changed_cells" id="changed_cells" hidden> <br>
    <input type="submit" value="Submit">

    <br><br>
    <div class="page-footer"></div>

</form>
<script>
    var changed_cells_arr = [];
    window.onload=function(){

        console.log("ciao")
        document.querySelectorAll("input").forEach(function(inp){
            inp.onchange = function(){
                console.log(this)
                td = this.parentElement;
                tr = td.parentElement;
                col_idx = td.cellIndex-1;

                row_idx = tr.rowIndex-1;
                //controllare se ultima lettera è f per la cache finale
                changed_cells_arr.push([parseInt(this.name.slice(-1))-1,row_idx, col_idx])
                console.log(changed_cells)
                document.querySelector("#changed_cells").value = JSON.stringify(changed_cells_arr)
            }
            
        });
    }
</script>
</body>
</html>