<!DOCTYPE html>

<html lang="it">
<form action="/" method="POST">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cache</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>

    <div class="page-header">
    <div class=writing style="min-height:50px;max-height:50px;text-aligh:center;padding-top=4px;" title="Correzione e generazione automatica di esercizi di architettura degli elaboratori">
    {%if lvl == 1%}
        <h3 style="text-align:center;color:white;">{{info_cache[0][0]}} &emsp; &emsp; {{info_cache[1][0]}} {{info_cache[2][0]}} &emsp; &emsp;{{info_cache[3][0]}} set &emsp; &emsp; {{info_cache[4][0]}} vie</h3>
    {% else %}
        <h3 style="text-align:center;color:white;">L1: {{info_cache[0][0]}} &emsp; &emsp; {{info_cache[1][0]}} {{info_cache[2][0]}} &emsp; &emsp;{{info_cache[3][0]}} set &emsp; &emsp; {{info_cache[4][0]}} vie</h3>
        <h3 style="text-align:center;color:white;">L2: {{info_cache[0][1]}} &emsp; &emsp; {{info_cache[1][1]}} {{info_cache[2][1]}} &emsp; &emsp;{{info_cache[3][1]}} set &emsp; &emsp; {{info_cache[4][1]}} vie</h3>
    {% endif %}

    </div>
</div>

<br><br><br><br>
    
    <body>
    {% set count = namespace(value=0) %}
    {%for idx, headings, data in tables%}
        <h3>L{{idx}}</h3>
        <table class="table">
            <tr class="table__header">
                {% for header in headings%}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data[idx-1] %}
            <tr class="table__row">
                {% for cell in row %}
                <td  class="table__cell" name="cell" id="cell"> 

                {%if (count.value//n_indirizzi==1 or count.value//n_indirizzi==2) and cache_type[idx-1]=="fully_associative" %}
                    <input class='table__cell' size=5 type="text" name="cell_value_{{idx}}" id="cell_value_{{idx}}" value="" readonly />
                {% else %}
                    <input class='table__cell' size=5 type="text" name="cell_value_{{idx}}" id="cell_value_{{idx}}" value="{{ cell }}" readonly />
                {% endif %}

                </td>
               
                {% set count.value = count.value + 1 %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {%endfor%}
    </body>

{% if lvlinit != 0 %}
    <br><br>
    <div style="display: flex;grid-gap: 20px;">
        <div>
            <h3>L{{lvlinit}} cache iniziale</h3>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Index</th>
                <th class="table__cell">Tag</th>
                    </tr>
                    {% for row in init %}
                    <tr class="table__row">
                        {% for cell in row %}
                        <td  class="table__cell" name="cell" id="cell"> 
                        <input class='table__cell' size=5 type="text" name="cell_value_i" id="cell_value_i" value="{{ cell }}" readonly />
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
        </div>


        <div>
            <h3>L{{lvlinit}} cache finale</h3>
                <table class="table">
                    <tr class="table__header">
                        <th class="table__cell">Index</th>
                <th class="table__cell">Tag</th>
                    </tr>
                    {% for row in cachefin %}
                    <tr class="table__row">
                        {% for cell in row %}
                        <td  class="table__cell" name="cell" id="cell">
                        <input class='table__cell' size=5 type="text" name="cell_value_f" id="cell_value_f" value="{{ cell }}" readonly />
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
{%endif%}

<br>
<input type="submit" value="submit" />

<br><br>

<button type="button" onclick="history.go(-2);">Torna alla home</button>

<div class="page-footer"></div>

</form>

</html>